@page "/listcalls"
@using KSheet3.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<CallContext> CallContextFactory

@rendermode InteractiveServer

<PageTitle>List Calls</PageTitle>

<h1>List Calls</h1>

