@page "/listcalls"
@using KSheet3.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<CallContext> CallContextFactory

@rendermode InteractiveServer

<PageTitle>List Calls</PageTitle>

<h1>List Calls</h1>
<h3>Search for a call</h3>

<div class="row">
	<label for="Position" class="col-4 col-form-label">Position</label>
	<div class="col-8">
		<input id="Position" name="Position" type="number" class="form-control" min="1" max="160" @bind="@callQuery.Position">
	</div>
</div>

<div class="row">
	<label for="Position" class="col-4 col-form-label">Address</label>
	<div class="col-8">
		<input id="Position" name="Position" type="number" class="form-control" @bind="@callQuery.Address">
	</div>
</div>

<div class="form-group row">
	<div class="offset-4 col-8">
		<button name="submit" type="submit" class="btn btn-primary" @onclick="Search">Submit</button>
	</div>
</div>

@if(searchResults != null && searchResults.Count() > 0)
{
	<h4>Search Results</h4>

	<table>
		<thead>
			<tr>
				<th scope="col">Position</th>
				<th scope="col">Address</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var result in searchResults)
			{
				<tr>
					<th>@result.Position</th>
					<th>@result.Address</th>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No results found</p>
}